@model Mols.Models.Category

@{
    ViewBag.Title = "Browse Item";
}

<h2>Browsing Category: @Model.CategoryName</h2>

<ul>
    @foreach (var item in Model.Items)
    {
        <li>
            @Html.ActionLink(item.Name, "Details", new { id = item.ItemId })
        </li>
    }
</ul>
