@model string
@{
    ViewBag.Title = "Checkout Complete";
} <
h2>Checkout Complete</h2>
<p>Your order number is: @Model</p>
<p>
    Your order has been recorded in our system, Please complete the payment by Transfer via Bank.
</p>
<p>
    Our Bank Account Numbers: 1234575432. please send confirmation after the transfer is complete.
</p>



